// ======================================
//  Variables
// ======================================


// Breaks
$media-breaks: (
  '$med': 768px;
  '$lg': 1024px;
);


// Fonts

$captext-small: 'Zhi Mang Xing', cursive;
$captext-med:'Shadows Into Light', cursive; 
$captext-large:'Sacramento', cursive;



$captext-color-small: #76b5e8;
$captext-color-med: #9EADC8;
