/* ============================================= */
/*              Images                           */
/* ============================================= */

.photoGallery {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  @include mq($med) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1250px;
    
  }
  
}

.photoGallery .photo-link {
  margin: 0px 10px 15px;
  border: 1px black solid;
}

.photoGallery img {
  padding: 0;
  margin: 0;
  display: block;
}