/* ============================================= */
/*              Base styles                      */
/* ============================================= */



* {
  box-sizing: border-box;
}

.photoGallery a {
  display: block;
}

.photoGallery div {
  display: inline-block;
}