/* ============================================= */
/*              Base styles                      */
/* ============================================= */



* {
  box-sizing: border-box;
}

.photoGallery a {
  display: block;
}

.photoGallery div {
  display: inline-block;
}


/* ============================================= */
/*              lightbox css changes             */
/* ============================================= */

.lb-outerContainer, .lb-dataContainer{
  max-width: 80%;
  height: auto !important;
  width: auto !important;
}

.lb-container {
  max-width: 100%;
  height: auto !important;
  width: auto !important;
}

.lb-image {
  max-width: 100%;
  height: auto !important;
  width: auto !important;
}

.lb-nav a.lb-prev {
  position: absolute;
  opacity: 1;
  float: none;
  left: -60px;
}

.lb-nav a.lb-next {
  position: absolute;
  opacity: 1;
  float: none;
  right: -60px;
}