/* ============================================= */
/*              Base styles                      */
/* ============================================= */



* {
  box-sizing: border-box;
}

.photoGallery a {
  display: block;
}

.photoGallery div {
  display: inline-block;
}


/* ============================================= */
/*              lightbox css changes             */
/* ============================================= */

.lb-outerContainer,{
  max-width: 80%;
  height: auto !important;
  width: auto !important;
}

.lb-container {
  max-width: 100%;
  height: auto !important;
  width: auto !important;
}

.lb-image {
  width: 100%;
  height: auto !important;
  width: auto !important;
}